<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Добавить заметку</title>

    <script type="text/javascript" th:src="@{/js/ValidateCharacterLength.js}"></script>
    <script type="text/javascript" th:src="@{/js/CountCharacters.js}"></script>
    <script src="/webjars/tinymce/5.0.9/tinymce.min.js"></script>

</head>

<body>
<div layout:fragment="content">

    <br>

    <h5><p class="text-center">Добавить заметку</p></h5>

    <form method="post" th:action="@{/notes/add}" th:object="${noteForm}">

        <div class="form-group">

            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="typeOfNote" id="typeOfNote" required>
                        <option selected value="default">Выберете тип заметки из списка</option>
                        <option th:each="typeOfNote : ${T(com.levdoc.medhapp.model.simplenote.TypeOfNote).values()}"
                                th:value="${typeOfNote}" th:text="${typeOfNote.getTypeOfNoteTextDisplay()}"></option>
                    </select>
                    <label for="typeOfNote">Тип заметки</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>


            <label for="mainText" id="mainTextLabel"></label>

            <script type="text/javascript">
                tinyMCE.init({
                    mode: "textareas",
                    theme: "silver",
                    menubar: false,
                    // language:"ru",
                    // plugins: "autoresize, charmap, colorpicker, contextmenu, paste, print, preview," +
                    //     "quickbar, save, searchreplace, table, textcolor, wordcount",

                    setup: function (ed) {
                        ed.on('keyup', function (e) {
                            var count = CountCharacters();
                            document.getElementById("character_count")
                                .innerHTML = "Введено символов: " + count;
                        })
                    }
                });
            </script>

            <textarea id="mainText" name="mainText" type="text" rows="10"></textarea>
            <div id="character_count"></div>

        </div>

        <br>
        <br>

        <button type="submit" class="btn btn-primary btn-sm" onclick="return ValidateCharacterLength()">Добавить
            заметку
        </button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="window.history.back()">Назад</button>
    </form>

</div>

</body>

</html>