<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Добавить заметку</title>

    <script src="/webjars/tinymce/4.7.9/tinymce.min.js"></script>

</head>

<body>
<div layout:fragment="content">

    <h5><p class="text-center">Добавить заметку</p></h5>

    <form method="post" th:action="@{/notes/add}" th:object="${noteForm}">

        <div class="form-group">
            <label for="mainText" id="mainText"></label>

            <script type="text/javascript">
                tinyMCE.init({
                    mode : "textareas",
                    theme : "modern",
                    menubar: false
                });
            </script>

            <textarea name="mainText" type="text" rows="10"></textarea>

        </div>

        <br>
        <br>

        <button type="submit" class="btn btn-primary btn-sm">Добавить заметку</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="window.history.back()">Назад</button>

    </form>
</div>

</body>

</html>