<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Редактировать заметку</title>

    <script src="/webjars/tinymce/4.7.9/tinymce.min.js"></script>

</head>

<body>
<div layout:fragment="content">

    <h5><p class="text-center">Редактировать заметку</p></h5>

    <form method="post" th:action="@{/notes/update}" th:object="${noteForm}">
        <input type="hidden" name="id" th:value="${note.id}">
        <input type="hidden" name="publishDate" th:value="${note.publishDate}">

        <div class="form-group">
            <script type="text/javascript">
                tinyMCE.init({
                    mode : "textareas",
                    theme : "modern",
                    menubar: false,
                    setup: function (ed) {
                        ed.on('keyup', function (e) {
                            var count = CountCharacters();
                            document.getElementById("character_count")
                                .innerHTML = "Введено символов: " + count;
                        })
                    }
                });
            </script>

            <textarea name="mainText" type="text" rows="10" th:text="${note.getMainText()}"></textarea>
            <div id="character_count"></div>

        </div>

        <script>
            function ValidateCharacterLength() {
                var max = 2800;
                var count = CountCharacters();
                if (count > max) {
                    alert("Введено максимальное количество символов (" + max + ")")
                    return false;
                }
                return;
            }

            function CountCharacters() {
                var body = tinymce.get("mainText").getBody();
                var content = tinymce.trim(body.innerText || body.textContent);
                return content.length;
            }

        </script>

        <br>
        <br>

        <button type="submit" class="btn btn-primary btn-sm">Добавить заметку</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="window.history.back()">Назад</button>

    </form>
</div>

</body>

</html>